[Desktop Entry]
Encoding=UTF-8
Name=Firefox graphic stack from GLX to EGL
Type=Link
URL=https://mozillagfx.wordpress.com/2021/10/30/switching-the-linux-graphics-stack-from-glx-to-egl/
Icon=text-html